* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", Arial, sans-serif;
}

body {
  background-color: white;
}

ul {
  list-style: none;
}

.header {
  display: flex;
  justify-content: center;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.45);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  z-index: 1000;
}

.nav__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 18px 24px;
  display: flex;
  justify-content: center;
}

.nav__menu {
  position: relative;
  display: flex;
  gap: 10px;
  padding: 15px 5px;
  background-color: white;
  border-radius: 999px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 20px 0px;
}

.nav__pill {
  position: absolute;
  top: 16px;
  left: 6px;
  height: 40px;
  background: #f94706;
  border-radius: 999px;
  z-index: 1;
  pointer-events: none;
  transition:
    left 0.6s ease,
    width 0.6s ease;
}

.nav__link {
  padding: 10px 20px;
  text-decoration: none;
  color: rgb(77, 77, 77);
  font-weight: 500;
  position: relative;
  z-index: 2;
  display: inline-block;
  transition: transform 0.2s ease;
}

.nav__link:not(.active):hover {
  transform: translateY(-3px);
}

.nav__link.active {
  color: white;
  font-weight: 400;
}

.header__ticker {
  margin-top: 230px;
  overflow: hidden;
  width: 100%;
}

.ticker__track {
  display: inline-flex;
  white-space: nowrap;
  gap: 60px;

  font-size: 300px;
  font-weight: bolder;

  animation: tickerLoop 110s linear infinite;
}

@keyframes tickerLoop {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
